html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url('https://static4.depositphotos.com/1014905/360/i/450/depositphotos_3602094-stock-photo-corn-field-in-sunset-maize.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.LeftDiv, .RightDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}