.App {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.LeftDiv, .RightDiv {
  flex: 1; /* Each div will take 50% of the width */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.LeftDiv {
  background-color:white; /* Optional styling for LeftDiv */
}

.RightDiv {
  background-color: #563a8e; /* Optional styling for RightDiv */
}

.Divider {
  width: 2px; /* Vertical line width */
  background-color: black; /* Color of the vertical line */
  height: 100vh; /* Full viewport height */
}
